.vscode/
.vs/

frontend/public/
frontend/node_modules/*

docker/nginx/log/

backend/bin/
backend/obj/
backend/published/

backend/*.suo
backend/*.user
backend/*.sln.docstates

BLL/bin/
BLL/obj/
BLL/published/

BLL/*.suo
BLL/*.user
BLL/*.sln.docstates

DAL/bin/
DAL/obj/
DAL/published/

DAL/*.suo
DAL/*.user
DAL/*.sln.docstates

Domains/bin/
Domains/obj/
Domains/published/

Domains/*.suo
Domains/*.user
Domains/*.sln.docstates

Utils/bin/
Utils/obj/
Utils/published/

Utils/*.suo
Utils/*.user
Utils/*.sln.docstates
